<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<head>
  <title>Talent | Personal Page</title>
</head>
<body>

<div class="container" style="overflow: auto">
  <div class="profile_bg">
    <div class="col-md-1"></div>
    <div class="col-md-4 personal_info_col">
      <div class="personal_info clearfix">

        <img src={{user?.profile}} class="personal_info_header">

        <b class="personal_info_data">{{user?.name}}</b>

        <button type="button" class="button-setting" (click)="openModal(template)" style="float: right; margin-top: 25px">檢舉用戶</button>
        <ng-template #template>
          <div class="modal-header">
            檢舉用戶
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <input type="text"
                   name="report_content"
                   class="form-control"
                   placeholder="輸入檢舉內容"
                   [(ngModel)] = "report_content"
            >
            <button type="button" (click)="report(user_id, 0, report_content)">檢舉</button>
          </div>

        </ng-template>

      </div>

      <div class="ranking_info">
        <div class="ranking_info_data">
          <b>
            <p>評價人數 : {{other_rates.length}}</p>
            <p>評價率 : </p>
            <p>能力值 :</p>
          </b>
        </div>

        <div class="box">
          <canvas id="chart-area" class="zone"
                  baseChart
                  [datasets]="chart_datas"
                  [labels]="chart_labels"
                  [chartType]="chart_type"
                  [legend] = "chart_legend"
          ></canvas>
        </div>
      </div>
    </div>

    <div class="col-md-6 nice-wrapper content_info_col">
      <div class="products_info">
        <div class="products_sell" tabindex="1" (click)="setOther_Type(0)">
          <p class="products_btn">天賦</p>
        </div>
        <div class="products_info_data">

          <div *ngIf="other_type === 0">
            <!--<div class="products_info_cards" *ngFor="let my_talent of my_talents">-->
            <!--<div class="products_info_photo">-->
            <!--<img src="" class="product_photo">-->
            <!--</div>-->
            <!--<div class="products_info_text">-->
            <!--<p>標題: {{my_talent?.title}}</p>-->

            <!--<p>敘述: {{my_talent?.description}}</p>-->
            <!--<p>錢: {{my_talent?.money}}</p>-->

            <!--<button (click)="toEditMyTalent(my_talent._id)" class="btn-primary">編輯</button>-->
            <!--</div>-->
            <!--</div>-->
            <div class="console">
              <div class="cards">
                <div class="card" *ngFor="let other_talent of other_talents">
                  <div class="card-contents" (click)="toTalentPreview(other_talent._id)">
                    <div class="overlay">
                      <p class="card-text">{{other_talent.description}}</p>
                    </div>
                    <img class="image" [src]="safeUrl('http://1.34.63.239:3001/' + other_talent.main_image)" alt="Card image cap" *ngIf="other_talent.main_image!= null">
                    <div class="info">
                      <span class="title">{{other_talent.title}}</span>
                      <span class="price">$ {{other_talent.money}}</span>
                    </div>
                    <!--<div class="left_card">-->
                      <!--<img class="card-img" [src]="safeUrl('http://localhost:3001/' + other_talent.main_image)" alt="Card image cap">-->
                    <!--</div>-->
                    <!--<div class="right_card">-->
                      <!--<div class="card-block">-->
                        <!--<h4 class="card-title">{{other_talent.title}}</h4>-->
                        <!--<p class="card-text">{{other_talent.description}}</p>-->
                        <!--<p class="money card-text">$ {{other_talent.money}}</p>-->
                      <!--</div>-->
                    <!--</div>-->
                  </div>
                </div>
              </div>
            </div>

            <button (click)="getOtherMoreTalents()" *ngIf="more_talents">載入更多</button>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-1"></div>
  </div>

</div>
</body>

</html>



