<html>
  <body>
    <div class="container" style="overflow: auto">
      <div class="profile_bg">
        <div class="col-md-2"></div>
        <div class="col-md-8 nice-wrapper">
          <div class="postBlock">
            <div class="postitle"><b>新才能</b></div>
            <p class="prompt"><b>Step1. 上傳圖片</b></p>
            <div class="slideshow-post">
              <div class="product_div" *ngIf="selectedImage">

                <label class="main-image-icon" *ngIf="main_image_position === uploader.queue.indexOf(this.selectedImage)" style="color: #000">封面</label>
                <label class="main-image-icon" *ngIf="main_image_position !== uploader.queue.indexOf(this.selectedImage)" style="color: #aaa" (click)="setMainImagePosition()">設成封面</label>

                <i class="fa fa-times delete-image-icon" aria-hidden="true" (click)="deleteImagePreview()"></i>

                <img class="product_img" src="{{selectedImage.src}}">

                <div>
                  <ng-container *ngFor="let image of uploader.queue">
                    <span *ngIf="image == selectedImage" class="selected-dot"></span>
                    <span *ngIf="image != selectedImage" class="dot"></span>
                  </ng-container>
                </div>

              </div>

              <div class="left_arrow" unselectable="on" (click)="navigate(false)">&#10094;</div>
              <div class="right_arrow" unselectable="on" (click)="navigate(true)">&#10095;</div>
              <!-- <span class="circle_img" onclick=""></span> -->
            </div>

            <div class="slideblock"></div>
            <!-- <input type="file" class="post-function-button" multiple> -->
            <!--<input type="file" class="post-function-button" name="multiple" ng2FileSelect [uploader]="uploader" multiple  />-->
            <!--<div class="post-function-button"><b>選擇檔案</b></div>-->
            <div class="post-function-button" >
              <b>選擇檔案</b>
              <input type="file" class="input-file"  (change)="selectedImage = uploader.queue[0]" ng2FileSelect [uploader]="uploader" multiple>
            </div>              

            <p class="prompt"><b>Step2. 輸入資訊</b></p>
            <div class="inputblocks">
              <input type="text"
                     name="product-name"
                     placeholder="服務名稱"
                     class="inputblock"
                     [(ngModel)]="title"
                     value="{{title}}"
                     required>

              <input type="number"
                     name="product-price"
                     placeholder="販售金額"
                     class="inputblock price"
                     [(ngModel)]="money"
                     value="{{money}}"
                     min="0"
                     step="1"
                     required>

              <textarea class="describeblock" placeholder="針對服務內容進行描述" [(ngModel)]="description"
                        maxlength="140" rows="7"></textarea>
            </div>
            <div class="post-function-button" (click)="postTalent()">
                <b>開賣啦</b>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>

  </body>
</html>
